label {
    /* font-family: 'Xanh Mono', monospace; */
    font-family: 'Nova Mono', monospace;
}
button {
    /* font-family: 'Xanh Mono', monospace; */
    font-family: 'Nova Mono', monospace;
}
body {
    background-color: rgb(191, 194, 195);
}

a {
    font-family: 'Nova Mono', monospace;

}
el {
    font-family: 'Nova Mono', monospace;

}

